h3 Reset Password
form(action='/resetPassword', method='post')
    | Reset Password Link :
    input(type='text', name='link')
    | New Password :
    input(type='password', name='new_password')
    | Confirm Password :
    input(type='password', name='confirm_new_password')
    input(type='submit', value='submit')